{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Reservation</h2>
      <p>Book a Table</p>

    </div>
    {% if user.is_authenticated %}

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
           <div class="text-danger" style="background-color: #0c0b09;">
                <strong>{{ error }}</strong>
           </div>
        {% endfor %}
    {% endfor %}
 {% endif %}



 <div class="input-group justify-content-center mb-4">
  {% for message in messages  %}
  <div class="alert alert-success" id="msg">

    <strong>{{ message }}</strong>
</div>
{% endfor %}
</div>

<form action="" method="POST" role="form" id="reservation-form">
  {% csrf_token %}

<div class="input-group mb-4 justify-content-center">
<div class="input-group-append">
  <span class="input-group-text h-100 text-warning bg-dark btn-outline-secondary"><i class="fa fa-user pt-1 pb-1"></i></span>

</div>

{{customer_form.name}}

</div>


<div class="input-group mb-4 justify-content-center">
  <div class="input-group-append">
    <span class="input-group-text h-100 text-warning bg-dark btn-outline-secondary"><i class="fa fa-envelope pt-1 pb-1"></i></span>

  </div>

  {{customer_form.email}}

  </div>

  <div class="input-group mb-4 justify-content-center">
    <div class="input-group-append">
      <span class="input-group-text h-100 text-warning bg-dark btn-outline-secondary"><i class="fa fa-phone pt-1 pb-1"></i></span>

    </div>

    {{customer_form.phone}}
    </div>

    <div class="input-group mb-4 justify-content-center">
      <div class="input-group-append">
        <span class="input-group-text h-100 text-warning bg-dark btn-outline-secondary"><i class="fa fa-user pt-1 pb-1"></i></span>
      </div>
      {{form.persons}}
      </div>

      <div class="input-group mb-4 justify-content-center">
        <div class="input-group-append">
          <span class="input-group-text h-100 text-warning bg-dark btn-outline-secondary"><i class="fa fa-solid fa-clock pt-1 pb-1"></i></span>
        </div>

        {{form.time}}

        </div>

        <div class="input-group mb-4 justify-content-center">
          <div class="input-group-append">
            <span class="input-group-text h-100 text-warning bg-dark btn-outline-secondary"><i class="fa fa-calendar pt-1 pb-1"></i></span>

          </div>

          {{form.date}}
          </div>

          <div class="input-group mb-4 justify-content-center">
            <div class="input-group-append">
                <input type="submit" class="btn-lg btn btn-warning rounded-pill text-white" value="Book a Table" />

            </div>
        </div>
</form>
{% endif %}
      </div>
    </section>

{% endblock content %}