{% extends 'base.html' %} {% load static %} {% block content %}

<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Reservation</h2>
      <p>Canel Your Booking</p>
    </div>
    <div>
      <h4>Are you sure you want to cancel ?</h4>
      <h5>Id {{item.id}}</h5>
      <h5>Persons {{item.persons}}</h5>
      <h5>Time {{item.time}}</h5>
      <h5>Date {{item.date}}</h5>
    </div>

    <!-- {% for messagess in messages %}
      <center>
        <div class="alert alert-success" role="alert" id="msg">
          <h4 class="alert-heading">Thank you!</h4>
        <h5>Your table booking done successfully and we will respond shortly...</h5>
        
        
      </div>
      </center>
        <br>
        <br>
      {% endfor %} -->

    <form
      action="{% url 'reservation:delete_reservations' item.id %}"
      method="POST"
      role="form">
      
      {% csrf_token %}
      <a class="btn btn-warning" href="{% url 'reservation:reserve_table' %}">
        Go Back
      </a>

      <input class="btn btn-danger" type="submit" value="Cancel" />
    </form>
  </div>
</section>
<!-- End Book A Table Section -->

{% endblock content %}