{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Delete Booking Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Reservation</h2>
      <p>Cancel Your Booking</p>
    </div>
    <div>
      <h4>Are you sure you want to cancel ?</h4>
      <h5>Id {{item.id}}</h5>
      <h5>Persons {{item.persons}}</h5>
      <h5>Time {{item.time}}</h5>
      <h5>Date {{item.date}}</h5>
    </div>

    <form action="{% url 'reservation:delete_reservations' item.id %}" method="POST" role="form">
      {% csrf_token %}
      <a class="btn btn-warning" href="{% url 'reservation:reserve_table' %}">
        Go Back
      </a>
      <input class="btn btn-danger" type="submit" value="Cancel" />
    </form>
  </div>
</section>
<!-- End Delete Booking Section -->

{% endblock content %}