{% extends 'base.html' %} {% load static %} {% block content %}

<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Reservation</h2>
      <p>Your Booking</p>


      <div class="input-group justify-content-center mb-4">
        {% for message in messages  %}
        <div class="alert alert-success" id="msg">
          <strong>{{ message }}</strong>
      </div>
      {% endfor %}
      </div>




      {% if user.is_authenticated %}
<!-- 
      <table class=" table mt-4 table-borderless" style="background-color: #cda45e;">
        <tr class="text-white">
          <th scope="col">Id</th>
          <th scope="col">Guests</th>

          <th scope="col">Time</th>
          <th scope="col">Date</th>
          <th scope="col">Reservation Status</th>
          <th scope="col">View</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
          <th scope="col">Book new table</th>
        </tr>
          {% for reserve in orders %}
        <tr class=" text-white bg-dark">
          <th scope="row">{{reserve.id}}</th>

          <td>{{reserve.persons}}</td>

          <td>{{reserve.time}}</td>
          <td>{{ reserve.date|date:"d/m/Y"}}</td>

          {% if reserve.status == 'rejected' %}
          <td>{{ reserve.status }}</td>
          <td>
            <div class="input-group-append">
             
                  <span class="text-white h-100">
                    <i class="fa fa-eye"></i></span> View </a>
                </div>
          </td>

          <td>
            <div class="input-group-append">
             
                  <span class="text-white h-100">
                    <i class="fa fa-pen"></i></span> Edit </a>
                </div>
          </td>
          <td>
            <div class="input-group-append">
              
                  <span class="text-white h-100 btn-outline-danger ">
                    <i class="fa fa-trash x-5"></i></span> Cancel </a>
                </div>
          </td>
          <td>
            <a class="btn btn-secondary" href="{% url 'reservation:create_order' %}"
            >Book new table</a
            >
          </td>

          {% elif reserve.status == 'expired' %}
         <td>{{ reserve.status }}</td>

         <td>
          <div class="input-group-append">
            
                <span class="text-white h-100">
                  <i class="fa fa-eye"></i></span> View </a>
              </div>
        </td>

        <td>
          <div class="input-group-append">
            
                <span class="text-white h-100">
                  <i class="fa fa-pen"></i></span> Edit </a>
              </div>
        </td>
        <td>

          <div class="input-group-append">
          
              <span class="text-white h-100 btn-outline-danger ">
                <i class="fa fa-trash x-5"></i></span> Cancel </a>
            </div>
        </td>
        <td>
          <div class="input-group-append"></div>
          <a class="btn btn-secondary disabled" href="{% url 'reservation:create_order' %}">
            <span class="text-white h-100">
              <i class="fa fa-solid fa-utensils"></i></span> New </a>
        </div>
        </td>

          {% else %}

          <td>{{reserve.status}}</td>

          <td>
            <div class="input-group-append">
              <a class="btn btn-primary text-white" href="{% url 'reservation:customer_table' reserve.id%}">
                  <span class="text-white h-100">
                    <i class="fa fa-eye"></i></span> View </a>
                </div>
          </td>

          <td>
            <div class="input-group-append">
                  <span class="text-white h-100">
                    <i class="fa fa-pen"></i></span> Edit </a>
                </div>
          </td>
          <td>
            <div class="input-group-append">
             
                  <span class="text-white h-100">
                    <i class="fa fa-trash x-5"></i></span> Cancel </a>
                </div>
          </td>
          <td>
            <div class="input-group-append"></div>
            <a class="btn btn-warning text-white" href="{% url 'reservation:create_order' %}">
              <span class="text-white h-100">
                <i class="fa fa-solid fa-utensils"></i></span> New </a>
          </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>
    {% else %}
    <h3>You must be logged in</h3>
    <a href="{% url 'reservation:login' %}">Loggin</a>
    {% endif %} -->















    <div class="bg-dark">
    
      <div class="row d-flex justify-content-center mb-5">
          <div class="col-sm-12">
              <div class="row d-flex justify-content-center">
                  <!-- Each reservation -->
                  {% for reservation in orders %}
                  <div class="col-md-6 col-lg-4 m-5">
                      <div class=" text-center ">
                          <h4>
                              <h4>Reservation ID: {{ reservation.id }} </h4>
                          </h4>
                          <!-- To display '1 person' instead of '1 people' -->
                          {% if reservation.persons == 1 %}
                          <h4>Guests: {{ reservation.persons }} person </h4>
                          {% else %}
                          <h4>Guests: {{ reservation.persons }} people </h4>
                          {% endif %}
                          <h4>Time: {{ reservation.time }} </h4>
                          <h4>Date: <span>{{ reservation.date|date:"d/m/Y"}}</span>
                          </h4>
                          <!-- If reservation has been rejected -->
                          {% if reservation.status == 'rejected' %}
                          <h3 class="mt-3 mb-4 text-danger"> This reservation was <span><strong>{{ reservation.status }}</strong></span>
                              <h3 class="mb-4 text-danger">Sorry you're not able to edit this reservation</h3>
                              <a href="{% url 'reservation:delete_reservations' reservation.id%}"
                                      class="button cancel-button inline-btn bg-danger text-white p-2 rounded-pill">Cancel Booking</a>
                              <!-- If reservation has been rejected -->
                              {% elif reservation.status == 'expired' %}
                              <h3 class="mt-3 mb-4 text-danger"> This reservation has <span><strong>{{ reservation.status }}</strong></span>
                              </h3>
                              <h3 class="text-danger mb-4">(Sorry, you're not able to edit this!)</h3>
                              <a href="{% url 'reservation:delete_reservations' reservation.id%}"
                              class="button cancel-button inline-btn bg-danger text-white p-2 rounded-pill">Cancel Booking</a>

                              <!-- For 'confirmed' -->
                              {% elif reservation.status == 'confirmed' %}
                              <h3 class="mt-3 mb-3"> This reservation is <span
                                class="text-success"><strong>{{ reservation.status }}</strong></span>
                        </h3>
                        <div class="text-center">
                            <a href="{% url 'reservation:update_reservations' reservation.id%}"
                                class="button submit-button inline-btn bg-success text-white p-2 rounded-pill">Edit Booking</a>
                            <a href="{% url 'reservation:delete_reservations' reservation.id%}"
                                class="button cancel-button inline-btn bg-danger text-white p-2 rounded-pill">Cancel Booking</a>

                              </div>
                              <div class="text-center mt-5">
                              <a href="{% url 'reservation:customer_table' reservation.id%}"
                              class="button cancel-button inline-btn bg-info text-white p-2 rounded-pill">View Booking</a>
                              <a href="{% url 'reservation:create_order' %}"
                              class="button cancel-button inline-btn bg-info text-white p-2 rounded-pill">New Booking</a>
                              </div>
                              <!-- For 'pending' -->
                              {% else %}
                              <h3 class="mt-3 mb-3"> This reservation is <span
                                      class="text-warning"><strong>{{ reservation.status }}</strong></span>
                              </h3>
                              <div class="text-center">
                                  <a href="{% url 'reservation:update_reservations' reservation.id%}"
                                      class="button submit-button inline-btn bg-success text-white p-2 rounded-pill">Edit Booking</a>
                                  <a href="{% url 'reservation:delete_reservations' reservation.id%}"
                                      class="button cancel-button inline-btn bg-danger text-white p-2 rounded-pill">Cancel Booking</a>

                                    </div>
                                    <div class="text-center mt-5">
                                    <a href="{% url 'reservation:customer_table' reservation.id%}"
                                    class="button cancel-button inline-btn bg-info text-white p-2 rounded-pill">View Booking</a>
                                    <a href="{% url 'reservation:create_order' %}"
                                    class="button cancel-button inline-btn bg-info text-white p-2 rounded-pill">New Booking</a>
                                    </div>
                              {% endif %}
                              <hr>
                              </li>
                            </div>
                  </div>
                  <!-- Show two per row -->
                  {% if forloop.counter|divisibleby:2 %}
              </div>
              <div class="row d-flex justify-content-center">
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>








  </div>
</section>
<!-- End Book A Table Section -->

{% endblock content %}