{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= View reservation Section ======= -->

<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Reservation</h2>
      <p>Your Booking</p>
      {% for message in messages %}
      <div class="input-group justify-content-center mb-4">
        <div class="alert alert-success" role="alert" id="msg">
          <h4 class="alert-heading">{{message}}</h4>
        </div>
      </div>
      <br>
      <br>
      {% endfor %}

      <div class="bg-dark">
        <div class="row d-flex justify-content-center mb-5">
          <div class="col-sm-12">
            <div class="row d-flex justify-content-center">

              <!-- Each reservation -->
              {% for reservation in view_booking %}
              <div class="col-md-6 col-lg-4 m-5">
                <div class=" text-center ">
                  <h4>
                    <h4>Reservation ID: {{ reservation.id }} </h4>
                  </h4>

                  <!-- To display '1 person' instead of '1 people' -->
                  {% if reservation.persons == 1 %}
                  <h4>Guests: {{ reservation.persons }} person </h4>
                  {% else %}
                  <h4>Guests: {{ reservation.persons }} people </h4>
                  {% endif %}
                  <h4>Time: {{ reservation.time }} </h4>
                  <h4 class=" mb-4">Date: <span>{{ reservation.date|date:"m/d/Y"}}</span>
                  </h4>

                  <div class="text-center">
                    <a href="{% url 'reservation:update_reservations' reservation.id%}"
                      class="button submit-button inline-btn bg-success text-white p-2 rounded-pill m-2">Edit
                      Booking</a>
                    <a href="{% url 'reservation:delete_reservations' reservation.id%}"
                      class="button cancel-button inline-btn bg-danger text-white p-2 rounded-pill">Cancel Booking</a>
                  </div>
                  <div class="text-center mt-5">
                    <a href="{% url 'reservation:reserve_table' %}"
                      class="button cancel-button inline-btn bg-info text-white p-2 rounded-pill m-2">Go Back</a>
                    <a href="{% url 'reservation:create_order' %}"
                      class="button cancel-button inline-btn bg-info text-white p-2 rounded-pill">New Booking</a>
                  </div>
                  <hr>
                  </li>
                </div>
              </div>

              <!-- Show two per row -->
              {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row d-flex justify-content-center">
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- ======= End View reservation Section ======= -->

{% endblock content %}