{% extends 'mail-templates/mail_reserve_booking.html' %} {% load static %}
{%block content %}

<h3>Hi {{name}},</h3>

<p>
    Thank you for giving<a href="https://mochi-restaurant.herokuapp.com/">
        Mochi Restaurant</a>
    a try!
</p>

<p>
    strive to provide the highest quality service and care deeply about how our
    work affects customers like you.
</p>

<p>
    We would love it if you could send us an email and tell us what we can do to
    make
    <a href="https://mochi-restaurant.herokuapp.com/"> Mochi Restaurant</a>
    better.
</p>

<p>
    Thank you for taking the time out of your day. We really appreciate it!
    Best,the
    <a href="https://mochi-restaurant.herokuapp.com/"> Mochi Restaurant</a> team
</p>

<hr />
<h2>mochi-restaurant.herokuapp.com</h2>
<p>Thanks for visiting mochi-restaurant.herokuapp.com</p>
<hr />
<h2><strong>mochi-restaurant.herokuapp.com</strong></h2>
<p>Southall Brodway, UB11RT, London</p>
<p>
    <a href="https://mochi-restaurant.herokuapp.com/">
        https://mochi-restaurant.herokuapp.com/</a>
</p>
<img class="email-image" src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb"
    alt="email image" />
<p>
    This email was sent because you joined our retaurant email, online or at one
    of our events . Your email address will not shared with anyone.
</p>

<p class="footer-note">
    <strong>&copy; Mochi Restaurant.All Rights Reserved</strong>
</p>
<p class="footer-address">Southall Brodway, UB11RT, London</p>

{% endblock content %}